body {
    display: flex;
    flex-direction: column; /* 항목을 세로로 나열 */
    background: #f4f4f4; /* 배경색 설정 */
    margin: 0 auto;
}
td { position: relative; }

.strikeout td::before {
    content: " "; /* 실제 내용은 없지만, 선을 그리기 위해 필요 */
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    border-top: 1px solid red; /* 빨간색 선 */
    width: 100%;
}

.main {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }
  
  .main .overlap-wrapper {
    background-color: #f8f9fa;
    width: 1920px;
    height: 1848px;
  }
  
  .main .overlap {
    position: relative;
    width: 1110px;
    height: 1341px;
    top: 78px;
    left: 405px;
    background-color: #ffffff;
  }
  
  .main .overlap-group {
    position: absolute;
    width: 636px;
    height: 253px;
    top: 227px;
    left: 454px;
  }
  
  .main .text {
    position: absolute;
    top: 138px;
    left: 131px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .group {
    position: absolute;
    width: 636px;
    height: 253px;
    top: 0;
    left: 0;
  }
  
  .main .text-wrapper {
    position: absolute;
    top: 0;
    left: 6px;
    font-family: "Pretendard-Medium", Helvetica;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .div {
    position: absolute;
    width: 302px;
    height: 139px;
    top: 46px;
    left: 334px;
  }
  
  .main .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 104px;
    font-family: "Pretendard-Medium", Helvetica;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .table {
    width: 300px;
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main .table-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main .row {
    height: 39px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff00;
  }
  
  .main .cell {
    flex: 1;
    flex-grow: 1;
    background-color: #0000000f;
    border-color: #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .content {
    display: flex;
    align-items: flex-start;
    padding: 10px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main .text-2 {
    position: relative;
    flex: 1;
    margin-top: 0px;
    margin-right: 20px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 19.5px;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .row-2 {
    height: 60px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff00;
  }
  
  .main .content-wrapper {
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff01;
    border-color: #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .text-3 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .group-2 {
    position: absolute;
    width: 302px;
    height: 139px;
    top: 46px;
    left: 0;
  }
  
  .main .overlap-group-wrapper {
    position: absolute;
    width: 101px;
    height: 36px;
    top: 217px;
    left: 272px;
  }
  
  .main .div-wrapper {
    position: relative;
    width: 99px;
    height: 36px;
    background-color: #f0f0f0;
    border-radius: 30px;
    border: 1px solid;
    border-color: #00000066;
  }
  
  .main .text-wrapper-3 {
    position: absolute;
    width: 57px;
    top: 8px;
    left: 19px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 19.5px;
    color: #000000;
    letter-spacing: 0;
    cursor: pointer;
  }
  
  .main .text-wrapper-4 {
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: "Pretendard-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45.5px;
    white-space: nowrap;
  }
  
  .main .overlap-2 {
    position: absolute;
    width: 362px;
    height: 59px;
    top: 700px;
    left: 20px;
  }
  
  .main .text-wrapper-5 {
    top: 0;
    font-family: "Pretendard-Medium", Helvetica;
    font-weight: 500;
    font-size: 25px;
    line-height: 32.5px;
    position: absolute;
    left: 0;
    color: #000000;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .main .group-3 {
    position: absolute;
    width: 362px;
    height: 58px;
    top: 1px;
    left: 0;
  }
  
  .main .p {
    top: 39px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    line-height: 19.5px;
    position: absolute;
    left: 0;
    color: #000000;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-6 {
    position: absolute;
    top: 800px;
    left: 20px;
    font-family: "Pretendard-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .main .group-4 {
    position: absolute;
    width: 302px;
    height: 185px;
    top: 227px;
    left: 20px;
  }
  
  .main .table-wrapper {
    width: 300px;
    gap: 5px;
    top: 86px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .main .row-3 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff00;
  }
  
  .main .group-5 {
    position: absolute;
    width: 405px;
    height: 19px;
    top: 819px;
    left: 20px;
  }
  
  .main .text-wrapper-7 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 19.5px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .overlap-3 {
    position: absolute;
    width: 1074px;
    height: 157px;
    top: 507px;
    left: 20px;
  }
  
  .main .rectangle {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 151px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .main .group-6 {
    position: absolute;
    width: 1074px;
    height: 157px;
    top: 0;
    left: 0;
  }
  
  .main .table-3 {
    width: 1068px;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .main .table-4 {
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main .cell-2 {
    flex: 1;
    flex-grow: 1;
    background-color: #0000000f;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-3 {
    width: 115px;
    background-color: #0000000f;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-4 {
    width: 88px;
    background-color: #0000000f;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-5 {
    width: 54px;
    background-color: #0000000f;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-6 {
    width: 67px;
    background-color: #0000000f;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-7 {
    width: 134px;
    background-color: #0000000f;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-8 {
    width: 113px;
    background-color: #0000000f;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .row-4 {
    height: 45px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff00;
  }
  
  .main .cell-9 {
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff01;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-10 {
    width: 115px;
    background-color: #ffffff01;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-11 {
    width: 88px;
    background-color: #ffffff01;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-12 {
    width: 54px;
    background-color: #ffffff01;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-13 {
    width: 67px;
    background-color: #ffffff01;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-14 {
    width: 134px;
    background-color: #ffffff01;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .cell-15 {
    width: 113px;
    background-color: #ffffff01;
    border-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  
  .main .text-wrapper-8 {
    position: absolute;
    top: 44px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 19.5px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .text-wrapper-9 {
    position: absolute;
    width: 25px;
    top: 0;
    left: 154px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
    cursor:pointer;
  }
  
  .main .table-5 {
    width: 1068px;
    top: 87px;
    left: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .main .text-4 {
    position: relative;
    flex: 1;
    margin-top: 3px;
    margin-right: 20px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    color: #000000;
    letter-spacing: 0;
  }
  
  .main .row-5 {
    height: 72px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff00;
  }
  